.LogoTbd
{
    width: 80px;
    height: 50px;

    position: relative;
    top: 0px;
    left: 20px;
    //transition: opacity 1s ease-in-out;使得object在发生透明度变化时变得平滑
}
.Introduction
{
    //标志正在使用的功能
    position: absolute;
    // 设置字体为楷体
    font-family: KaiTi;
    top: 18px;
}
.Tags
{
    //标签
    position: absolute;
    top: 50px;
    background:center/cover url('~@/assets/Logo001.png');
}
.GoodTags
{
    //正面标签
    width: 500px; 
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);
    transition: 0.2s;
    background: transparent;
}
.BadTags
{
    //负面标签
    width: 500px;
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);
    transition: 0.2s;
    background: transparent;

}
.FunctionMenu
{

}
.Sider
{

}
.GenerateButton
{
    position: absolute;
    width: 300px;
    height: 100px;
    left: 1000px;
    top: 500px;
    font-size: 25px;
}
.Steps
{

}
.ParameterCard
{
    position: absolute;
    left: 100px;
    top: 375px;
    width: 750px;
    height: 350px;
    background-color: white;
}

.Footer
{
    font-size: 10px;
}
.ShowOrderList
{
    position: absolute;
    left: 1000px;
    top: 50px;
    width: 405px;
    background-color: rgb(251, 243, 221);
}
.ShowImageSource
{
}
.StepsTips
{
    font-size: 10px;
}
.ShowOrderListCard
{
    position: absolute;
    left: 1000px;
    height: 500px;
    top: 50px;
    width: 500px;
    background-color: white;
}
.CheckTheImage
{
    font-size: 10px;
}
.ReAskButton
{
    // 刷新按钮1
    background-color: black;
    position: absolute;
    right: 100px;
    top: 50px;
}
.ReFreshButton
{
    // 刷新按钮2
    background-color: rgb(0, 33, 95);
    position: absolute;
    right: 132px;
    top: 52px;
}
.Image
{
    position: absolute;
    right: 900px;
    top: 50px;
}
.ListItem
{
    background-color: antiquewhite;
}