.login 
{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: center/cover;
    transition: opacity 1s ease-in-out;
  .chang
  {
    transition: none;
  }
}
.ResetButton
{
  top: 5px;
  right: -1500px;
}
.backgroundImage
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 1s ease-in-out;
  z-index: -1;

  &.fade-in 
  {
    opacity: 1;
  }

  &.fade-out 
  {
    opacity: 0;
  }

} 
.login-Logo 
{
    width: 100px;
    height: 80px;
    display: block;
    margin: 0 auto 20px;
    //transition: opacity 1s ease-in-out;使得object在发生透明度变化时变得平滑
}


.login-container 
{
  width: 440px;
  height: 600px;
  position: relative;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%); 
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.2);
  // background:center/cover url('~@/assets/opacity001.png');
  backdrop-filter: blur(5px);
  transition: 0.2s;
  // pointer-events: none;
  background: transparent;
}
.login-checkbox-label 
{
  color: #1890ff;
}
.ReadTxt
{
  color: #00e1ff;
}
.login-avatar
{
  width: 100px;
  height: 80px;
  display: block;
  margin: 0 auto 20px;
}
.LoginButton
{
  left: 34px;
  position: relative;
  display: inline-block;
  padding: 12px 144px;
  margin: 10px 0;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 2px;
  border-radius: 10px;
  background: linear-gradient(90deg, #ffc905, #55e7fc);
}